@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script&family=Rubik+Iso&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 200px;
    border-bottom: 2px dashed black;
    display: flex;
    background-color: rgba(210, 190, 173, 0.3);
    margin-bottom: 2%;
}
.Dlogo{
    display: flex;
    justify-content: center;
    height: 99%;
    width: 25%;
    border-right: 10px dotted black;
    border-left: 10px dotted black;
    border-radius: 65%;
}
.menu{
    flex: 1;
    height: 99%;
    width: 80%;
}
.logo{
    margin-top: 5%;
    margin-left: 5%;
    padding: 2% 15%;
    flex: 1;
    width: 50%;
    height: 90%;
}
nav{
    display: flex;
    justify-content: center;
    padding: 6% 0; /* Espaciado en el menú */
    height: 100%;
}
#menu li {
    margin-right: 20px; /* Espaciado entre los elementos del menú */

}

#menu li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

#menu a {
    padding: 0 4%;
    border-style: solid;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Rubik Iso', cursive;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    background-color:#e4fbfb;
}

#menu{
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex; /* Muestra los elementos en línea (horizontal) */
}
#menu a:hover {
    color: #84b6f4; /* Cambia el color al pasar el mouse */
    background-color: aliceblue;
    border-color: #84b6f4;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Para centrar los elementos horizontalmente */
    width: 80%;
    margin: 0 auto;
    height: auto;
}
.encabezado{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
}
.noticia {
    margin: 2% 2% 2% 2%;
    flex: 0 0 46%; /* Ancho del 50% para que haya 2 elementos por fila */
    text-align: center; /* Alineación del contenido al centro */
    border: 1px solid #ccc; /* Agrega un borde para separar los elementos */
    position: relative;
    font-family: Arial, sans-serif;
}
.footer {
    background-color: rgba(210, 190, 173, 0.3);
    color: black; 
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    position: relative;/* Posición absoluta en relación con el contenedor */
  }

  .noticia p{
    margin-top: 5%;
    font-size: 1.5em;
    text-align: justify;
    margin-bottom: 15%;
  }
  .noticia p a{
    color: #6a9eda;
    text-decoration: none;
  }

  .noticia p a:hover{
    color: #e2504c;
    text-decoration: none;
  }
  .info {
    margin-top: 15%;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(210, 190, 173, 0.3);
    padding: 1% 5%;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
  .info:hover{
    background-color: #d8af97;
    color: white;
}
.noticia{
    margin: 2% 2% 2% 2%;
    flex: 0 0 46%; /* Ancho del 50% para que haya 2 elementos por fila */
    border: 1px solid #d8af97; /* Agrega un borde para separar los elementos */
    position: relative;
    font-family: Arial, sans-serif;
    text-align: center;
}

  /* Pagina Integrantes */
.integrantes{
    width: 40%;
    height: 40%;
}
.tabla-info {
    border-style: double;
    width: 80%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.tabla-info th,
.tabla-info td {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Recorta el texto que desborde */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para el texto recortado */
    text-align: left;
    
}


.int{
    margin: 2% 2% 2% 2%;
    flex: 0 0 46%; /* Ancho del 50% para que haya 2 elementos por fila */
    border: 1px solid #d8af97; /* Agrega un borde para separar los elementos */
    position: relative;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Pagina Calendario*/
.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.event {
    border: 10px double #d8af97;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    text-align: center;
}

.date {
    font-weight: bold;
}

.description {
    margin-top: 15%;
}

/* Pagina Discografia*/

.Portada{
    width: 100%;
    height: 250px;
}
.encabezado-discografia{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    border-bottom: 2px solid #d8af97;
    border-top: 2px solid #d8af97;
    display: flex;
    flex-direction: column; /* Establece la dirección de flexión como columna */
    align-items: center; /* Alinea horizontalmente los elementos al centro */
    text-align: center; /* Alinea el texto en el centro */
    padding-top: 2%;
    background-color: #ecd6c0;
}
.contenedor-superior {
    display: flex;
    align-items: center; /* Alinea horizontalmente los elementos al centro */
    margin-bottom: 20px; /* Espacio entre los dos divs superiores y el párrafo */
    width: 100%;
    margin: 0 auto;
}
.encabezado-discografia p{
    font-size: 1.5em;
    flex: 1;
}
.nombre {
    flex: 1; /* Permite que este div ocupe el espacio restante disponible */
}

.albumpor {
    width: 50%;
    margin-bottom: 2%;
}
.lista-columnas {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.columna {
    flex: 1;
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: left;
}

.circle {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: #000;
    border-radius: 50%;
    vertical-align: middle; /* Alinea el círculo verticalmente con el texto */
}
.disco{
    font-size: 0.9em;
}
.uni{
    width: 80%;
    margin: 0 auto;
    border-style: double;
    margin-bottom: 5%;
    padding: 2% 2%;
}

/* Página Historia */

#historia {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*************************** Responsive ****************************/

@media (min-width: 1367px) {
    .footerc {
       /* background-color: rgba(210, 190, 173, 0.3);*/
       background-color:greenyellow;
    color: black; 
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0; /* Fijar en la parte inferior */
    width: 100%; /* Ancho completo */
      }

}
@media (min-width: 530px) and ( max-width: 1366px) {
    .footerc {
        /*background-color: rgba(210, 190, 173, 0.3);*/
        background-color:blue;
        color: black; 
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%; /* Ancho completo */
      }     
    
    
}  
    
}
@media (min-width: 1200px) and ( max-width: 1366px) {
    #menu a {
        padding: 0 4%;
        border-style: solid;
        font-weight: bold;
        font-size: 1.8em;
        font-family: 'Rubik Iso', cursive;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
        background-color:#e4fbfb;
    }

}
@media (min-width: 1000px) and ( max-width: 1199px) {
    nav{
        margin-top: 4.5%;
        display: flex;
        justify-content: center;
        padding: 6% 0; /* Espaciado en el menú */
        height: 100%;
    }
    #menu a {
        padding: 0 4%;
        border-style: solid;
        font-weight: bold;
        font-size: 1.4em;
        font-family: 'Rubik Iso', cursive;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
        background-color:#e4fbfb;
    }

}

@media (max-width: 999px) {
    .logo, .Dlogo{
        display: none;
    }
    
    nav{
        display: flex;
        justify-content: center;
        padding: 6% 0; /* Espaciado en el menú */
        height: 100%;
    }
    #menu a {
        padding: 0 4%;
        border-style: solid;
        font-weight: bold;
        font-size: 1.8em;
        font-family: 'Rubik Iso', cursive;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
        background-color:#e4fbfb;
    }

}

@media (max-width: 886px) {
    .logo, .Dlogo{
        display: none;
    }
    
    nav{
        display: flex;
        justify-content: center;
        padding: 6% 0; /* Espaciado en el menú */
        height: 100%;
    }
    #menu a {
        padding: 0 4%;
        border-style: solid;
        font-weight: bold;
        font-size: 1.6em;
        font-family: 'Rubik Iso', cursive;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
        background-color:#e4fbfb;
    }

    
}
@media (max-width: 956px) {

    .info{
        font-size: 1em;
        font-weight: bold;
        margin-top: 50%;
    }

    .noticia p{
        margin-top: 5%;
        font-size: 1.2em;
        text-align: justify;
        margin-bottom: 15%;
      }
}
